/* Stylesheet for Invisible College website */

/* Links */
a,
a:focus,
a:hover {
  color: cornflowerblue;
  text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Base structure
 */

html,
body {
  /* height: 100%;*/
  background-color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-image: url(/images/angle-bridge.jpeg);
  background-size: cover;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  /* height: 100%; */ /* For at least Firefox */
  /* min-height: 100%; */
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.content {
  padding: 30px;
  max-width: 860px;
}

.outer {
  /* Healthy top margin to duck under navbar */
  margin-top: 170px;
}

/* Class Information */

h1 {
  width: 500px;
  display: block;
  font: 50px/45px 'Open Sans', sans-serif;
  color: #BBB;
  text-transform: uppercase;
  margin: 0 0 30px 0px;
}

.subtitle {
  font: 36px/28px 'Muli', sans-serif;
  color: #BBB;
  margin: 0 0 30px 0px;
  font-weight: 100;
}

.classHeadInfo {
  float: left;
  position: relative;
  padding-right: 10px;
}

header {
  font: 18px/14px 'Muli', sans-serif;
  color: #BBB;
  margin: 0 0 5px 0px;
  font-weight: 300;
  color: #BBB;
}

.classInfo {
  margin-top: 75px;
  float: left;
  position: relative;
  padding-right: 10px;
  width: 350px;
}

.classInfo p {
  font-size: 16px;
  font-weight: bold;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

h2 {
  font-size: 20px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.hero {
  text-align: left;
  max-width: 800px;
}

p {
  color: #B7B8BF;
  font: 15px/21px 'Muli', sans-serif;
  font-weight: 300;
  text-align: justify;
}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  text-transform: center;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    background-color: #333;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

/*
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 825px;
  }
}
*/

.section-title {
  padding-top: 100px;
  background: #322;
}

.section-title span#title {
  width: 425px;
  display: block;
  text-align: right;
  font-size: 144px;
  line-height: 120px;
}

.section-title span#subtitle {
  width: 500px;
  display: block;
  font: 50px/45px 'Open Sans', sans-serif;
  color: #403E2F;
  text-transform: uppercase;
  margin: 0 0 30px 20px;
}

.section-title h2 {
  font: 50px/5px 'Megrim', Georgia, serif;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto 40px auto;
  text-align: center;
  border-bottom: solid 1px rgba(255, 255, 255, .5);
  padding-bottom: 40px;
  width: 80%;
}

/* Syllabus */

.tnum {
  width: 100px;
  vertical-align: top;
  float: left;
}

.tdate {
  width: 100px;
  vertical-align: top;
  float: left;
}

.tdesc {
}

row {
  color: #B7B8BF;
  font: 15px/21px 'Muli', sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

/* Mentors */

.photo {
  margin-right: 10px;
}

.photo img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}

.clear {
  clear: both;
}

/* Forms and Buttons */

#promoCode {
  width: 100px;
}

button.submit {
  font-size: 14px;
  height: 25px;
  background-color: #CCC;
  width: 200px;
  color: #333;
  border: 0px;
  margin: 5px;
}

input[type=text], textarea {
  background-color: gray;
  border: 0px;
  padding: 5px;
  height: 25px;
  font-size: 14px;
  width: 200px;
  margin: 5px;
}

.eventBanner {
  background-color: #5F5A60;
  color: #CF6A4C;
  font-size: 24px;
  border: #7587A6 5px solid;
  padding: 20px;
  margin: 20px;
}

.darkGray {
  background-color: #5F5A60;
}

.grapefruit {
  background-color: #CF6A4C;
}

.brown {
  background-color: #9B703F;
}

.beige {
  background-color: #CDA869;
}

.mauve {
  background-color: #9B859D;
}

.blueGray {
  background-color: #7587A6;
}

.oliveDrab {
  background-color: #8F9D6A;
}

.goldenHay {
  background-color: #F9EE98;
}
